.pagination {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pageButton {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.pageButton:hover:not(:disabled) {
  background-color: #f1f1f1;
  color: black;
}

.pageButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.active {
  background-color: #DD8848;
  color: white;
  border-color: #DD8848;
}

.ellipsis {
  padding: 6px 8px;
  font-size: 14px;
  color: white;
  user-select: none;
}
