.left{
    display: flex;
    gap: 15pt;
    align-items: center;
    font-family: var(--poppins);
    font-size: 10pt;
    font-weight: 500;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 0pt 15pt;
}